Read Data

In [1]:
import pandas as pd
import numpy as np
import json
import os
import random
filename = 'df_kickstarter.csv'
df = pd.read_csv(filename,header=0)

Extract Category

In [2]:
cat_json = df['category'].apply(json.loads)
cat_name=list(map(lambda d: d['name'], cat_json))
df['Cat_Name']=cat_name

Calculate The Pledge Amount Per Backer

In [3]:
df['pledged_per_person'] = df['usd_pledged']/df['backers_count']

In [4]:
df['pledged_per_person'] = df['pledged_per_person'].fillna(0)

In [ ]:
df['pledged_per_person'] = df['pledged_per_person'].astype(int)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
from scipy import stats
sns.distplot(sm_pj['pledged_per_person'],kde=True,fit=stats.gamma)

In [ ]:
df['pledged range'] = np.where((1000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 2000), '1000 to 2000', 'less than 1000')
df['pledged range'] = np.where((3000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 4000), '3000 to 4000', df['pledged range'])
df['pledged range'] = np.where((4000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 5000), '4000 to 5000', df['pledged range'])
df['pledged range'] = np.where((5000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 6000), '5000 to 6000', df['pledged range'])
df['pledged range'] = np.where((6000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 7000), '6000 to 7000', df['pledged range'])
df['pledged range'] = np.where((7000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 8000), '7000 to 8000', df['pledged range'])
df['pledged range'] = np.where((8000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 9000), '8000 to 9000', df['pledged range'])
df['pledged range'] = np.where((9000 < df['pledged_per_person']) & (df['pledged_per_person'] <= 10000), '9000 to 10000', df['pledged range'])
a = df.groupby('pledged range').size()
print(a)
a.plot.bar()

Top 10 Categories Launched On the Platform

In [7]:
bycate=df.groupby('Cat_Name')

In [9]:
bycate.size().sort_values(ascending=False)[:10]

Cat_Name
Web                 4570
Product Design      4351
Tabletop Games      4057
Accessories         3562
Comic Books         3457
Comedy              3087
Graphic Novels      2992
Apparel             2990
Illustration        2982
Children's Books    2965
dtype: int64

Extract The Overfunded Projects

In [12]:
df['overfunded'] = np.where((df['usd_pledged']>df['goal']),1,0)

In [13]:
pplr_prj = df[df['overfunded']==1]

The Top 10 Popular Projects Among Investors

In [14]:
pplr_cate = pplr_prj.groupby('Cat_Name')

In [15]:
pplr_cate.size().sort_values(ascending=False)[:10]

Cat_Name
Tabletop Games      3615
Product Design      3482
Comic Books         3159
Accessories         2829
Illustration        2704
Country & Folk      2511
Children's Books    2487
Documentary         2436
Nonfiction          2434
Indie Rock          2403
dtype: int64

Count the # failed projects

In [36]:
pd_f = df[(df['Cat_Name']=='Product Design' )& (df['state']=='failed')]
tg_f = df[(df['Cat_Name']=='Tabletop Games' )& (df['state']=='failed')]
ac_f = df[(df['Cat_Name']=='Accessories' )& (df['state']=='failed')]
co_f = df[(df['Cat_Name']=='Comic Books' )& (df['state']=='failed')]
il_f = df[(df['Cat_Name']=='Illustration' )& (df['state']=='failed')]
ch_f = df[(df['Cat_Name']=="Children's Books" )& (df['state']=='failed')]

Extract the successful projects

In [38]:
succeed =df[df['state']=='failed']

In [40]:
region_sccd= succeed.groupby('country')

Successful Projects Grouped by Countries

In [42]:
region_sccd.size().sort_values(ascending=False)

country
US    52315
GB     7352
CA     3724
AU     2059
DE     1549
IT     1324
FR     1027
MX     1009
NL      899
ES      878
SE      556
NZ      361
DK      333
CH      305
IE      271
BE      268
AT      238
NO      219
SG      208
HK      199
JP       87
LU       18
dtype: int64

Projects Grouped By Countries

In [43]:
region_pj = df.groupby('country')
region_pj.size().sort_values(ascending=False)

country
US    148489
GB     23108
CA      9823
AU      4866
DE      3434
FR      2642
MX      2367
IT      2344
ES      1955
NL      1814
SE      1421
HK      1085
NZ       931
DK       920
SG       698
CH       663
IE       645
BE       566
NO       511
AT       495
JP       389
LU        56
dtype: int64